SMSCODE_TOKEN = be5b5f50f6fd6f19aed95353b5466f5dad99603b1391cf16c1cccde592f40542
PAKASIR_SLUG = jeeyhosting
PAKASIR_API_KEY = 1fsqXLYFEwBNXrlaZqW2oIFbtHzOgufW
OTP_MARGIN = 1500
NEXT_PUBLIC_BOT_URL = https://t.me/Jeeytsdbot
